    .fatherContainer {
        background-color: rgba(0, 255, 221, 0.555);
        flex-direction: row;
        // align-self: center;
        text-align: center;
        flex : 1;
        justify-content: center;
        align-items: center;
        margin-inline: 10%;
        border-radius: 3.5%;
        margin-top: 5%;
        // margin-block: 10%;
        width: 50%;
        height: 30%;
    }

    .Container{
        background-color: rgba(0, 255, 17, 0.608);
        margin-top: 5%;

    }

    body {
        background-color: #ffffff;
    }
  
    h1 {
        font-size: 36px;
        color: #ffb4dc;
    }

    $button-color: #dfdfdf00;
    $button-hover-color: #ffffff;
    $text-hover-color: black;
    $oppacity: .8;
    $border: solid white;
    
    
    .button {
        background-color: $button-color;
        border: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 3%;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius : 10%;
        border: solid white;

        &:hover {
            background-color: $button-hover-color;
            text-decoration: $text-hover-color;
            opacity: $oppacity;
            border: solid white;

        }
    }

    .buttonSound {
        background-color: $button-color;
        border: none;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4% 1%;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius : 10%;
        border: solid white;
        margin-top: 0%;
        margin-bottom: 1%;
        width: 30%;

        &:hover {
            background-color: $button-hover-color;
            text-decoration: $text-hover-color;
            // opacity: $oppacity;
            border: solid white;

        }
    }

    .col{
        flex: 1;
        // margin-top: 5%;
        // margin-bottom: 5%;
    }

    .sound{
        background-color: $button-color;
        border: none;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1%;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius : 10%;
        border: solid white;
        margin-top: 0%;
        margin-bottom: 1%;
        // width: 30%;

        &:hover {
            background-color: $button-hover-color;
            text-decoration: $text-hover-color;
            // opacity: $oppacity;
            border: solid white;
        }
        
    }

    .play {
        background-color: $button-color;
        border: none;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        // margin: 4% 1%;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius : 10%;
        border: solid white;
        margin-top: 0%;
        margin-bottom: 1%;
        // width: 30%;

        &:hover {
            background-color: $button-hover-color;
            text-decoration: $text-hover-color;
            // opacity: $oppacity;
            border: solid white;

        }
    }

    
  